$scene-width: ($pixel-size * $tile-width * length(nth($background, 1)));
$scene-height: ($pixel-size * $tile-height * length($background));
$spider-width: ($pixel-size * length(nth(map-get($sprites, "E"),1)));
$spider-height: ($pixel-size * length(map-get($sprites, "E")));

@keyframes creep {
	0% {
		top: 0;
	}
	35% {
		top: $scene-height/2 + $spider-height;
	}
	40% {
		top: $scene-height/2 + $spider-height;
	}
	100% {
		top: 0;
	}
}
@keyframes spider_web {
	0% {
		height: 0;
		top: 0;
	}
	35% {
		height: $scene-height/2 + $spider-height;
		top: -($scene-height/2 + $spider-height);
	}
	40% {
		height: $scene-height/2 + $spider-height;
		top: -($scene-height/2 + $spider-height);
	}
	100% {
		height: 0;
		top: 0;
	}
}

.scene {
	position: relative;
	box-sizing: content-box;
	font-size: $font-size;
	width: $scene-width;
	height: $scene-height;

	/*clip-path: circle(25% at 25% 25%);*/

	.sprite--D {
		position: absolute;
    	left: 16em;
		top: 12em;
		&:before {
			content: "starport";
			color: #fff;
			font-size: 2.5em;
			position: relative;
			left: 0;
			top: -2em;
			text-transform: uppercase;
			display: block;
			text-align: center;
		}
	}

	.sprite--C {
		position: absolute;
    	left: 144em;
		top: 28em;
		&:before {
			content: "operations";
			color: #fff;
			font-size: 2.5em;
			position: relative;
			left: 0;
			top: -2em;
			text-transform: uppercase;
			display: block;
			text-align: center;
		}
	}

	.sprite--F {
		position: absolute;
		top: 58em;
		left: 80em;
		&:before {
			content: "Is there anybody out there?";
			font-size: 2em;
			position: relative;
			left: 5em;
			top: -5.5em;
			background-color: #fff;
			display: block;
			border-radius: 4px;
			padding: 0.4em 0.8em;
			width: 8em;
			text-align: center;
		}
	}

	.sprite--E_container {
		position: absolute;
		left: 115em;
		animation: creep 5s infinite;

		&:before {
			content: '';
			width: 0.5em;
			height: 1em;
			position: absolute;
			left: 2em;
			box-shadow: 1em 1em #BBBBBB;
			animation: spider_web 5s infinite;
		}

		.sprite--E {
			font-size: $pixel-size;
			
			&:before {
				content: "oooOOO!";
				font-size: 2em;
				position: relative;
				left: 4.5em;
				top: 0em;
				background-color: #fff;
				display: block;
				border-radius: 4px;
				padding: 0.4em 0.8em;
				width: 4em;
				text-align: center;
			}
		}
	}
}
